<div class="container-fluid search_main">
  <div class="search_page">
    <% if @dishes_search %>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          <div class="row filter_block">
            <div class="col-md-4">
              <div class="row">
                <div class="col-md-4">
                  <p>FILTER</p>
                </div>
                <div class="col-md-8">
                   <%= select_tag("products_per_page", options_for_select([["RATING","rating"],["PRICE","price"]]), {prompt: 'SORT BY', :name => "products_per_page", :class=>"form-control select_style", id:"filter", remote: true} ) %>
                </div>
              </div>
            </div>
            <div class="col-md-4">
               <%= select_tag("products_per_page", options_for_select([["3+",3],["4+",4],["5+",5]]),{prompt: 'ALL RATINGS', :name => "products_per_page", id:"rating_filter", :class=>"form-control select_style"} ) %>

            </div>
            <div class="col-md-4">
              <div class="dropdown">
                <button class="btn multi_select dropdown-toggle" type="button" data-toggle="dropdown">ALL DIETARY REQUIREMENT
                <span class="caret"></span></button>
                <div class="dropdown-menu">
                  <div class="search_multi_select">
                    <%= @taggings.find_each do |tagging| %>
                      <div class="multi_check"><%= check_box tagging.id,nil, :class=>"check_tagging", :id=>tagging.id %> <span> <%= tagging.tag_name %></span></div>
                      <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p>Count</p>
            </div>
            <div class="col-md-10 range_slider">
             <span id="range_min"></span><div id="slider"></div><span id="range_max"></span>
            </div>
          </div>

          <div class="row">
            <div class="container search_items_list">
              <%= render 'dishes/list', dishes: @dishes_search %>
            </div>
          </div>
        </div>
        <div class="col-md-6 map_block_div">
          <%= image_tag('mapimage.jpg' ,:class=>"map_block") %>
        </div>
      </div>
    <% else %>
    <h1>No result found</h1>
    <% end %>
  </div>
</div>